<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="static/w3.css" />
	<script src="static/jquery-2.1.1.min.js"></script>

	<script>
		ajax_success = function(data, textStatus, jqXHR) {
			$("#output").val(data);
		}

		ajax_error = function(jqXHR, textStatus, errorThrown) {
			alert(errorThrown);
		}

		$(document).ready(function() {
			$('a').click(function(event) {
				var $this = $(this);
				var cmd_id = $this.attr('id');

				$("#output").val('');

				$.ajax({
					url: 'run',
					type: 'GET',
					data: {cmd_id: cmd_id},
					dataType: 'text',
					success: ajax_success,
					error: ajax_error,
				});

				event.preventDefault();
			});
		});
	</script>
</head>

<body class="w3-container">

% for line in lines:
  <div class="w3-margin w3-cell-row">
  % for title, cmd_id in line:
    <div class="w3-container w3-cell">
      <a href='run/?cmd_id=${cmd_id}' id='${cmd_id}' class='w3-button w3-block w3-blue w3-xlarge'>${title}</a>
    </div>
  % endfor
  </div>
% endfor

<div class="w3-container w3-cell-row">
  <textarea id="output" readonly="1" class="w3-cell w3-block" style="height: 300px"></textarea>
</div>

</body>
</html>
