<!DOCTYPE html>
<html class="has-background-dark">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="manifest" href="static/manifest.json">
  <link rel="stylesheet" href="static/bulma.min.css" />
  <script src="static/jquery-2.1.1.min.js"></script>
  <script>
    $(document).ready(function() {
      $('a').click(function(event) {
        var $this = $(this);
        var cmd_id = $this.attr('id');
        $("#output").val('');
        if ($this.attr('x-confirm') != 1 || confirm('fakt?')) {
          $.ajax({
            url: 'run',
            type: 'GET',
            data: {cmd_id: cmd_id},
            dataType: 'text',
            success: (data, textStatus, jqXHR) => $("#output").val(data),
            error: (jqXHR, textStatus, errorThrown) => alert(errorThrown),
          });
        }
        event.preventDefault();
      });
    });
  </script>
</head>

<body>
<section class="section">

% for line in lines:
  <div class="columns">
  % for title, cmd_id, confirm in line:
    <div class="column">
      <a href='run/?cmd_id=${cmd_id}' id='${cmd_id}' class='box button is-link is-large' x-confirm='${confirm}'>${title}</a>
	</div>
  % endfor
  </div>
% endfor

<div class="level">
  <textarea id="output" readonly="1" class="level-item box" style="height: 300px"></textarea>
</div>

</section>
</body>
</html>
